#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.events__grid {
  color: #2D3648;
}
.events__item {
  background-color: #D9D9D9;
}
.events__item--big {
  color: #D9D9D9;
  background-color: #2D3648;
}

@media (prefers-color-scheme: light) {
  .events__grid {
    color: #D9D9D9;
  }
  .events__item {
    background-color: #2D3648;
  }
  .events__item--big {
    color: #2D3648;
    background-color: #D9D9D9;
  }
}
